<div class="index-container">
  <img id="beer-img" src="images/beer.png">
  <button id="first" class="buttons">Check the bears</button>
  <button id="second" class="buttons">Check a random bear</button>
</div>